<h1>User: <%= @user.email %></h1>
<h3><%= @user.email %>'s events: </h3>

<%= render @user.events %>

<h3><%= @user.email %>'s attended events: </h3>

<ul>
  <% @user.attended_events.upcoming.each do |event| %>
    <li>
      <%= link_to event.title, event_path(event) %>, upcoming
    </li>
  <% end %>
  <% @user.attended_events.past.each do |event| %>
    <li>
      <%= link_to event.title, event_path(event) %>, past
    </li>
  <% end %>
</ul>
