<h1><%= @event.title %></h1>
<h2>Where: <%= @event.location %></h2>
<h2>When: <%= @event.datetime.to_s(:short) %></h2>

<h3>Description: </h3>
<p>
  <%= @event.description %>
</p>

<p><%= @event.creator.email %></p>

<% if @event.attendees.include?(current_user) %>
  <%= button_to "Cancle attendance", event_event_attendee_path(@event, current_user.id), method: :delete %>
<% else %>
  <%= button_to "Attend this", event_event_attendees_path(@event, current_user.id), method: :post %>
<% end %>

<span>Count: <%= @event.attendees.count %></span>
<br>
<span>All attendees:</span>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li>
      <%= attendee.email %>
    </li>
  <% end %>
</ul>